<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tickets de la aplicacion</title>

<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous">

</head>

<body style="margin-left: 5%; margin-right: 5%; margin-top: 15px">
<h2>Tabla con los tickets</h2>

<a th:href="@{/showFormTicket}" class="btn btn-primary btn-sm mb-3">Añadir entrada</a>

<table style="border: 1px" class = "table table-striped table-responsive-md">
    <thead>
    <tr>
        <th>
            <a>Numero de referencia</a>
        </th>
        <th>
            <a>Nombre del evento</a>
        </th>
        <th>
            <a>Tipo</a>
        </th>
        <th>
            <a>Precio</a>
        </th>
        <th>
            <a>Usuario vendedor</a>
        </th>

        <th> Actions </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ticket : ${ticketList}">
        <td th:text="${ticket.numReferencia}"></td>
        <td th:text="${ticket.eventoBean.nombre}"></td>
        <td th:text="${ticket.tipo}"></td>
        <td th:text="${ticket.precio}"></td>
        <td th:text="${ticket.usuarioBean.userName}"></td>

        <td> <a th:href="@{/showFormForUpdateTicket/{ref}(ref=${ticket.numReferencia})}"class="btn btn-primary">Update</a>
            <form th:action="@{/delete-ticket/{ref}(ref=${ticket.numReferencia})}" method="post"><button type="submit" class="btn btn-danger">Delete</button>
             </form>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/}" class="btn btn-primary btn-sm mb-3">Atrás</a>

</body>
</html>